.intro {
  padding: rem-calc(60) rem-calc(16);
  text-align: center;
  @include background();
  &__inner {
    @include container(388px);
    text-align: left;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    &--computer {
      cursor: pointer;
    }
  }
  &__video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-size: cover;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color(dusk);
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: 400ms ease;
    }
    .active & iframe { opacity: 1; }
    .active &:after {
      opacity: 0;
      visibility: hidden;
      transition: opacity 400ms ease, visibility 0s 400ms linear;
    }
  }
}
.about {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  h5 { margin-bottom: rem-calc(40); }
  &__text {
    position: relative;
    display: inline-block;
    max-width: rem-calc(763);
    p { margin-bottom: rem-calc(25); }
  }
}
.employees {
  width: 100%;
  padding: rem-calc(80) rem-calc(16);
  @include border(color(maroon));
  &__list {
    max-width: rem-calc(880);
    margin: 0 auto;
  }
  &__item {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(45);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.employee {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: center;
  &__item {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 100%;
    &--image {
      position: relative;
      margin-bottom: rem-calc(10);
      &:after {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 1px;
        height: 100%;
        background-color: color(orange);
      }
      @include respond-to(mobile-plus) {
        width: percentage(215 / 880);
        padding-right: percentage(42.5 / 880);
        margin-bottom: 0;
        &:after {
          display: block;
        }
      }
    }
    &--text {
      @include respond-to(mobile-plus) {
        width: percentage(580 / 880);
        padding-left: percentage(42.5 / 880);
      }
    }
  }
  &__name { margin-bottom: rem-calc(12); }
  &__content {
    p { margin-bottom: rem-calc(15); }
    a { color: color(orange); }
  }
}
