#fsb_bar {
  background-color: #ffffff !important;
  color: color(dusk) !important;
}
.intro {
  padding: rem-calc(60) rem-calc(16);
  text-align: center;
  @include background();
  &__inner {
    @include container(690px);
    text-align: left;
    font-size: 0;
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    &--computer {
      margin-bottom: 30px;
      cursor: pointer;
      @include respond-to(mobile-plus) {
        width: percentage(388 / 690);
        margin-right: percentage(62 / 690);
        margin-bottom: 0;
      }
    }
    &--text {
      @include respond-to(mobile-plus) {
        width: percentage(240 / 690);
        text-align: left;
        transform: translateY(-25%);
      }
    }
  }
  &__title {
    font-size: rem-calc(24);
    color: color(white);
    margin-bottom: 22px;
    font-weight: normal;
  }
  &__video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    background-size: cover;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: color(dusk);
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      opacity: 0;
      transition: 400ms ease;
    }
    .active & iframe { opacity: 1; }
    .active &:after {
      opacity: 0;
      visibility: hidden;
      transition: opacity 400ms ease, visibility 0s 400ms linear;
    }
  }
}
.how {
  width: 100%;
  background: color(white);
  padding: 60px 16px;
  &__inner {
    @include container(735px);
    text-align: center;
    font-size: 0;
  }
  &__item {
    @include center();
    position: relative;
    display: block;
    width: 100%;
    max-width: 320px;
    vertical-align: top;
    margin-bottom: 40px;
    @include respond-to(ipad-portrait) {
      display: inline-block;
      width: 33.33%;
      margin: 0;
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
    }
    img {
      margin-bottom: rem-calc(20);
      max-height: 79px;
    }
    &--extra {
      &:before, &:after {
        content: '';
        display: none;
        position: absolute;
        top: 20%;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 2;
        @include respond-to(ipad-portrait) {
          display: inline-block;
        }
      }
      &:before {
        width: 17px;
        height: 17px;
        right: 100%;
        background-image: url("{{ 'home-icon-plus.png' | asset_url }}");
        background-size: 17px 17px;
        transform: translate(50%, -50%);
      }
      &:after {
        width: 29.5px;
        height: 11.5px;
        left: 100%;
        background-image: url("{{ 'home-icon-arrow.png' | asset_url }}");
        background-size: 29.5px 11.5px;
        transform: translate(-50%, -50%);
      }
    }
  }
  &__title {
    font-size: rem-calc(24);
    color: color(plum);
    margin-bottom: rem-calc(70);
    font-weight: bold;
  }
  &__subtitle {
    font-size: rem-calc(14);
    color: color(plum);
    font-weight: normal;
  }
  &__text {
    font-size: rem-calc(11);
    font-weight: normal;
    color: #6b6b6b;
  }
  &__search {
    display: block;
    width: 100%;
    margin-top: rem-calc(60);
    @include respond-to(mobile-plus) {
      margin-top: rem-calc(80);
    }
  }
  &__search-link {
    display: inline-block;
    font-size: rem-calc(12);
    color: color(orange);
    margin-bottom: rem-calc(20);
  }
  &__search-form {
    position: relative;
    display: inline-block;
    margin-bottom: rem-calc(40);
    width: 100%;
    max-width: rem-calc(515);
    font-size: 0;
    text-align: center;
    z-index: 10;
    &__item {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      outline: 0;
      width: 100%;
      margin: 0;
      border: 1px solid color(orange);
      &--search {
        font-size: rem-calc(12);
        color: color(light-gray);
        padding-top: rem-calc(25);
        padding-bottom: rem-calc(25);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        text-align: center;
        @include respond-to(mobile-plus) {
          width: percentage(640 / 745);
          text-align: left;
          padding-left: rem-calc(25);
          padding-right: rem-calc(25);
        }
      }
      &--button {
        width: 50%;
        margin-top: rem-calc(10);
        margin-left: auto;
        margin-right: auto;
        padding-top: rem-calc(21);
        padding-bottom: rem-calc(21);
        text-align: center;
        font-size: rem-calc(24);
        background-color: color(orange);
        color: #fff;
        border: 0;
        @include respond-to(mobile-plus) {
          width: percentage(105 / 745);
          margin-top: 0;
          border: 1px solid color(orange);
        }
      }
    }
  }
}
.about-us {
  display: block;
  width: 100%;
  border-top: 25px solid color(maroon);
  padding: 100px 16px;
  background-color: color(white);
  &__inner {
    @include container(640px);
    text-align: center;
  }
  &__title {
    font-size: rem-calc(24);
    color: color(maroon);
    margin-bottom: 22px;
    font-weight: bold;
  }
  &__text {
    font-size: rem-calc(14);
    color: color(maroon);
    line-height: 1.42;
    font-weight: normal;
  }
  &__link {
    html & {
      text-transform: none;
      margin-top: rem-calc(22);
    }
  }
}
.library {
  display: block;
  width: 100%;
  border-top: 25px solid color(orange);
  padding: 100px 16px;
  background-color: color(white);
  img { cursor: pointer; }
  &__inner {
    @include container(1000);
    text-align: center;
    font-size: 0;
  }
  &__title {
    font-size: rem-calc(24);
    color: color(dusk);
    font-weight: bold;
  }
  &__subtitle {
    font-size: rem-calc(14);
    color: color(dusk);
    font-weight: normal;
    margin-bottom: 50px;
  }
  &__item {
    display: block;
    width: 100%;
    max-width: 315px;
    @include center();
    margin-bottom: 40px;
    @include respond-to(ipad-portrait) {
      display: inline-block;
      vertical-align: top;
      width: 33.33%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    &-inner {
      padding: rem-calc(10);
    }
    &-title {
      font-size: rem-calc(14);
      color: color(orange);
    }
    &-text {
      font-size: rem-calc(11);
      color: #545454;
    }
  }
  &__quote {
    display: block;
    @include container(635px);
    font-size: rem-calc(24);
    color: color(dusk);
    margin-top: rem-calc(70);
    font-weight: normal;
    font-style: italic;
  }
}
