#fsb_bar {
  background-color: #ffffff !important;
  color: color(dusk) !important;
}
.explore{
  position: relative;
  padding: rem-calc(82) rem-calc(16) rem-calc(184);
  background: url("{{ 'home-background.jpg' | asset_url }}") center center;
  background-size: cover;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .29);
    z-index: 10;
  }
  &__inner {
    position: relative;
    z-index: 20;
    @include container(650px);
    &-title {
      text-align: center;
    }
    &-search {
      display: block;
      width: 100%;
      margin-top: rem-calc(27);
      padding-left: rem-calc(15);
      padding-right: rem-calc(15);
    }
  }

  &__form {
    position: relative;
    display: inline-block;
    width: 100%;
    //max-width: rem-calc(515);
    font-size: 0;
    text-align: center;
    z-index: 10;
    &-item {
      display: inline-block;
      vertical-align: middle;
      line-height: 1;
      outline: 0;
      width: 100%;
      margin: 0;
      border: 1px solid color(white);
      &--search {
        font-size: rem-calc(14);
        color: color(white);
        background-color: transparent;
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);
        text-align: center;
        max-height: rem-calc(73);
        min-height: rem-calc(73);
        &::placeholder {
          color: color(white);
        }
        @include respond-to(mobile-plus) {
          width: percentage(640 / 745);
          text-align: left;
          padding-left: rem-calc(25);
          padding-right: rem-calc(25);
        }
      }
      &--button {
        width: 50%;
        margin-top: rem-calc(10);
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: rem-calc(24);
        background-color: color(white);
        color: color(orange);
        border: 0;
        max-height: rem-calc(73);
        min-height: rem-calc(73);
        transition: 400ms ease;
        &:hover {
          background-color: color(orange);
          color: color(white);
        }
        @include respond-to(mobile-plus) {
          width: percentage(105 / 745);
          margin-top: 0;
        }
      }
    }
  }
}
.about-us {
  @include border(color(maroon));
  display: block;
  width: 100%;
  padding: 100px 16px;
  background-color: color(white);
  &__inner {
    @include container(640px);
    text-align: center;
  }
  &__title {
    font-size: rem-calc(24);
    color: color(maroon);
    margin-bottom: 22px;
    font-weight: bold;
  }
  &__text {
    font-size: rem-calc(14);
    color: color(maroon);
    line-height: 1.42;
    font-weight: normal;
  }
  &__link {
    html & {
      text-transform: none;
      margin-top: rem-calc(22);
    }
  }
}
.library, .blog {
  display: block;
  width: 100%;
  padding: rem-calc($spacer-9) rem-calc(16) rem-calc(155);
  background-color: color(white);
  &__inner {
    @include container(80%);
    text-align: center;
    font-size: 0;
    @include respond-to(ipad-portrait) {
      max-width: 1000px;
    }
  }
  &__title {
    margin-bottom: rem-calc(75);
  }
  &__subtitle {
    font-size: rem-calc(14);
    color: color(dusk);
    font-weight: normal;
    margin-bottom: 50px;
  }
  &__item {
    display: block;
    width: 100%;
    max-width: 680px;
    @include center();
    margin-bottom: rem-calc($spacer-4);
    @include respond-to(ipad-portrait) {
      display: inline-block;
      vertical-align: top;
      width: 33.33%;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 0;
    }
    &-inner {
      display: block;
      margin-top: rem-calc($spacer-2);
    }
    &-title {
      margin-bottom: rem-calc(5);
      transition: color 400ms ease;
    }
    &-text {
      color: color(black);
    }
    &-button {
      @include button($backgroundColor: color(plum), $hover: color(orange))
    }
  }
  &__quote {
    display: block;
    @include container(635px);
    font-size: rem-calc(24);
    color: color(dusk);
    margin-top: rem-calc(70);
    font-weight: normal;
    font-style: italic;
  }
}
.blog {
  @include border(color(maroon));
  padding-top: rem-calc(114);
  padding-bottom: rem-calc(114);
  &__item:hover h4 { color: color(plum); }
}
.big-quote {
  @include border(color(orange));
  display: block;
  width: 100%;
  padding: rem-calc(114) rem-calc(16);
  background-color: color(white);
  &__inner {
    position: relative;
    @include container(773px);
    text-align: center;
  }
  &__item {
    &:first-of-type { display: block; }
    display: none;
  }
  &__author {
    font-size: rem-calc(15);
    font-style: normal;
    font-weight: 700;
    margin-top: rem-calc(25);
  }
  &__button {
    @include button($hover: color(plum));
    margin-top: rem-calc($spacer-4);
  }
}
