/* Show and hide depending on screen size. */
@media (max-width: $breakpoint-small-screen) {
.show-on-large, .show-on-medium, .hide-on-small { display: none; }
}
@media (min-width: $breakpoint-small-screen) {
.hide-on-large, .show-on-medium, .show-on-small { display: none; }
}
.hidden { display: none; }
