.paragraph-margins { margin: 0 0 rem-calc(25); }
.grid-margins      { margin: 0 0 $gutter;       }
.section-margins   { margin: 0 0 2 * $gutter;   }

h1, h2, h3, h4, h5, h6 {
  @extend .paragraph-margins;
}

h1 { @include h1(); }
h2 { @include h2(); }
h3 { @include h3(); }
h4 { @include h4(); }
h5 { @include h5(); }
p { @include p(); }
ul { @include p() }
.small { @include small(); }
a {
  @include a();
  &:hover {
    color: darken( $link-color, 10% );
  }
  header &, footer & {
    white-space: nowrap;
    color: $text-color;
  }
  header &:hover, footer &:hover {
    color: darken( $text-color, 10% );
  }
  &.classic {
    color: color(orange);
  }
}
i, em { font-style: italic; }
b, strong { font-weight: 700; }
#customer { @extend .section-margins; }
p, form > div { @extend .paragraph-margins; }
