/* ==========================================================================
   Most theme settings should be stored in Sassy CSS variables here, for reuse.
   ========================================================================== */
/*!theme settings */
$base-font-size:          16px;
$site-max-width:          60 * $base-font-size;
$breakpoint-small-screen: 30 * $base-font-size;
$gutter:                  1 *  $base-font-size;
$background-color:        #fff;
$text-color:              #2a2a2a;
$link-color:              #2a2a2a;
$base-font-family:        'Quicksand', Helvetica Neue, Helvetica, sans-serif;
$heading-font-family:     $base-font-family;
$heading-font-weight:     700;
$colors: (
  orange: #f26222,
  dusk: #565588,
  plum: #692e44,
  light-gray: #4b4b4b,
  maroon: #a10834,
  black: #454545,
  white: #ffffff
);


// Typography

$primary: 'Quicksand', Helvetica Neue, Helvetica, sans-serif;
$secondary: 'Montserrat', Helvetica Neue, Helvetica, sans-serif;

$h1:    50; // quicksand, bold
$h2:    42; // quicksand, regular
$h3:    30; // quicksand, italic
$h4:    18; // montserrat, semi-bold
$h5:    20; // montserrat, regular
$body:  16; // montserrat, light
$small: 12;

// old
// $h1:    30;
// $h2:    12;
// $h3:    16;
// $body:  16;
// $small: 12;

// S P A C E
$spacer-xs:  30px;
$spacer-sm:  40px;
$spacer-md:  45px;
$spacer-lg:  50px;
$spacer-xl:  60px;
$spacer-xxl: 130px;

// S P A C E
$spacer-1:   10;
$spacer-2:   20;
$spacer-3:   30;
$spacer-4:   40;
$spacer-5:   50;
$spacer-6:   60;
$spacer-7:   70;
$spacer-8:   80;
$spacer-9:   90;
$spacer-10: 100;
$spacer-13: 130;

// Grid Widths
$full: 100%;
$half: 50%;
$third: 33.33%;
$quarter: 25%;
