<section class="media">
  <ul class="media__list">
    <h2>Videos</h2>
    {% for article in blogs["videos"].articles %}
      {% include 'media-grid-item', link_out: 'Watch' %}
    {% endfor %}
  </ul>
</section>
