<section class="media">
  <ul class="media__list">
    <h3>Articles</h3>
    {% for article in blogs["articles"].articles %}
      {% include 'media-grid-item', link_out: 'Read More' %}
    {% endfor %}
  </ul>
  <ul class="media__list">
    <h3>Podcasts</h3>
    {% for article in blogs["podcasts"].articles %}
      {% include 'media-grid-item', link_out: 'Listen' %}
    {% endfor %}
  </ul>
  <ul class="media__list">
    <h3>Videos</h3>
    {% for article in blogs["videos"].articles %}
      {% include 'media-grid-item', link_out: 'Watch' %}
    {% endfor %}
  </ul>
</section>
