<section class="store">
  <ul class="grid grid--store">
    <h2 class="grid__title">Free Video Content</h2>
    {% for product in collections['free-videos'].products %}
    {% include 'free-grid-item' %}
    {% endfor %}
  </ul>
</section>
