<section class="store">
  <ul class="grid grid--store">
    <h2 class="grid__title">Self Treatment Tools</h2>
    {% for product in collections['self-treatment-tools'].products %}
    {% include 'store-grid-item' %}
    {% endfor %}
  </ul>
</section>
