<section class="media">
  <ul class="media__list">
    <h2>Articles</h2>
    {% for article in blogs["articles"].articles %}
      {% include 'media-grid-item', link_out: 'Read More' %}
    {% endfor %}
  </ul>
  <ul class="media__list">
    <h2>Podcasts</h2>
    {% for article in blogs["podcasts"].articles %}
      {% include 'media-grid-item', link_out: 'Listen' %}
    {% endfor %}
  </ul>
  <ul class="media__list">
    <h2>Videos</h2>
    {% for article in blogs["videos"].articles %}
      {% include 'media-grid-item', link_out: 'Watch' %}
    {% endfor %}
  </ul>
</section>
