.about {
  padding-top: rem-calc(100);
  padding-bottom: rem-calc(100);
  text-align: center;
  background: url("{{ 'purple-flourish-lg.png' | asset_url }}") top left no-repeat color(orange);
  background-size: rem-calc(277) rem-calc(180.5);
  &__text {
    position: relative;
    display: inline-block;
    max-width: rem-calc(850);
    color: #fff;
  }
}
.employees {
  width: 100%;
  max-width: rem-calc(880);
  margin-left: auto;
  margin-right: auto;
  padding-top: rem-calc(80);
  padding-bottom: rem-calc(80);
  &__list {
    margin: 0;
  }
  &__item {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(45);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.employee {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: center;
  &__item {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    &--image {
      position: relative;
      width: percentage(215 / 880);
      padding-right: percentage(42.5 / 880);
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 100%;
        width: 1px;
        height: 100%;
        background-color: color(orange);
      }
    }
    &--text {
      width: percentage(580 / 880);
      font-size: rem-calc(12);
      color: color(orange);
      padding-left: percentage(42.5 / 880);
    }
  }
  &__name {
    text-transform: uppercase;
    margin-bottom: rem-calc(12);
  }
}
