.about {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  background: url("{{ 'purple-flourish-lg.png' | asset_url }}") no-repeat color(orange);
  background-position: 0px -10px;
  background-size: percentage(600 / 1440) auto;
  @include respond-to(mobile-plus) {
    background-size: percentage(400 / 1440) auto;
  }
  @include respond-to(ipad-portrait) {
    background-size: percentage(277 / 1440) auto;
  }
  &__text {
    position: relative;
    display: inline-block;
    max-width: rem-calc(740);
    color: #fff;
  }
}
.employees {
  width: 100%;
  max-width: rem-calc(880);
  margin-left: auto;
  margin-right: auto;
  padding: rem-calc(80) rem-calc(16);
  &__list {
    margin: 0;
  }
  &__item {
    display: block;
    width: 100%;
    margin-bottom: rem-calc(45);
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.employee {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: center;
  &__item {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    &--image {
      position: relative;
      margin-bottom: rem-calc(10);
      &:after {
        content: '';
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 1px;
        height: 100%;
        background-color: color(orange);
      }
      @include respond-to(mobile) {
        width: percentage(215 / 880);
        padding-right: percentage(42.5 / 880);
        margin-bottom: 0;
        &:after {
          display: block;
        }
      }
    }
    &--text {
      font-size: rem-calc(14);
      color: color(orange);
      @include respond-to(mobile) {
        font-size: rem-calc(12);
        width: percentage(580 / 880);
        padding-left: percentage(42.5 / 880);
      }
    }
  }
  &__name {
    text-transform: uppercase;
    margin-bottom: rem-calc(12);
  }
  &__content, &__content p {
    color: #454545;
    font-weight: 400;
    font-size: rem-calc(14);
    @include respond-to(mobile) {
      font-size: rem-calc(12);
    }
    a {
      color: color(orange);
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
