.cart {
  padding: rem-calc(100) rem-calc(16);
  @include background(white);
  &__inner {
    width: 100%;
    max-width: rem-calc(860);
    margin-left: auto;
    margin-right: auto;
  }
  h1 {
    margin-bottom: rem-calc(40);
  }
}
.instructions {
  padding-top: rem-calc(20);
  textarea {
    margin-top: rem-calc(15);
    max-width: rem-calc(500);
  }
}
.check-it-out {
  padding-top: rem-calc(20);
}
.terms-and-conditions {
  input, label {
    display: inline-block;
    vertical-align: middle;
  }
  label {
    width: auto;
    font-size: rem-calc(16);
  }
}
