.contact {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  background: url("{{ 'purple-flourish-lg.png' | asset_url }}") no-repeat #fff;
  background-position: 0px -10px;
  background-size: percentage(600 / 1440) auto;
  @include respond-to(mobile-plus) {
    background-size: percentage(400 / 1440) auto;
  }
  @include respond-to(ipad-portrait) {
    background-size: percentage(277 / 1440) auto;
  }
  color: color(orange);
  a { color: color(orange); }
  h1 {
    font-size: rem-calc(20);
    @include respond-to(mobile-plus) {
      font-size: rem-calc(30);
    }
  }
  &__item {
    width: 100%;
    max-width: rem-calc(600);
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
.contact-form {
    margin: rem-calc(60) 0;
}
.feedback {
    padding: 0.5em 0.7em;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.feedback p {
    padding: 0.5em 0 !important;
    margin: 0 !important;
}
.successForm {
    background: #bde0a8;
    color: green;
}
.errorForm {
    background: #eebdbd;
    color: color(dusk);
    text-align: left;
}
