/* =====================
   12. Footer
   ===================== */
// .template-page,
// .template-collection,
// .template-product,
// .template-cart,
// .template-search,
// .template-customers-login,
// .template- {
//   #main {
//     padding-bottom: rem-calc(375);
//     @include respond-to(mobile-plus) {
//       padding-bottom: rem-calc(301);
//     }
//   }
// }

.template-index {
  #container { background-color: color(orange); }
}

#container { position: relative; min-height: 100%; }


footer {
  position: absolute;
  display: block;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: rem-calc(47) rem-calc(16) rem-calc(70);
  text-align: center;
  color: #fff;
  background: color(plum) url("{{ 'orange-flourish-lg.png' | asset_url }}") no-repeat percentage(925 / 1440) 0%;
  background-size: rem-calc(276) rem-calc(114);
  z-index: 20;
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("{{ 'orange-flourish-sm.png' | asset_url }}") no-repeat bottom center;
    background-size: rem-calc(137) rem-calc(50.5);
    z-index: 0;
  }
}
.footer__mailchimp {
  position: relative;
  width: 100%;
  max-width: rem-calc(514.5);
  text-align: center;
  @include center;
  z-index: 10;
}
#mc_embed_signup form {
  text-align: center;
  padding: 0;
  h2 {
    margin-top: 0;
    font-size: 1rem;
  }
}
#mc_embed_signup .mc-field-group {
  width: 100%;
  font-size: 0;
  input {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    border: 0;
    border-radius: 0;
    margin: 0;
  }
  input[type="email"] {
    width: 83%;
    margin-right: 2%;
  }
  input[type="submit"] {
    width: 15%;
    background: color(orange);
    color: #fff;
    //padding: 15px 10px;
    margin: 0;
  }
}
#mc_embed_signup_scroll {
  margin-bottom: 0;
}

.footer-search-form {
  position: relative;
  display: inline-block;
  margin-bottom: rem-calc(40);
  width: 100%;
  max-width: rem-calc(514.5);
  font-size: 0;
  text-align: center;
  z-index: 10;
  @include respond-to(ipad-landscape) {
    &--index {
      max-width: rem-calc(744);
      margin-bottom: rem-calc(80);
      .footer-search-form__item--search {
        font-size: rem-calc(18);
        padding-top: rem-calc(37);
        padding-bottom: rem-calc(37);
        padding-left: rem-calc(37);
      }
      .footer-search-form__item--button {
        font-size: rem-calc(36);
        padding-top: rem-calc(30);
        padding-bottom: rem-calc(30);
      }
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    border: 0;
    outline: 0;
    width: 100%;
    margin: 0;
    &--search {
      font-size: rem-calc(12);
      color: color(light-gray);
      padding-top: rem-calc(25);
      padding-bottom: rem-calc(25);
      padding-left: rem-calc(10);
      padding-right: rem-calc(10);
      text-align: center;
      @include respond-to(mobile-plus) {
        width: percentage(622 / 744);
        margin-right: percentage(17 / 744);
        text-align: left;
        padding-left: rem-calc(25);
        padding-right: rem-calc(25);
      }
    }
    &--button {
      width: 50%;
      margin-top: rem-calc(10);
      margin-left: auto;
      margin-right: auto;
      padding-top: rem-calc(21);
      padding-bottom: rem-calc(21);
      text-align: center;
      font-size: rem-calc(24);
      background-color: color(orange);
      color: #fff;
      @include respond-to(mobile-plus) {
        width: percentage(105 / 744);
        margin-top: 0;
      }
    }
  }
}

.footer-nav {
  position: relative;
  text-align: center;
  font-size: 0;
  margin-bottom: rem-calc(13);
  z-index: 10;
  &__item {
    position: relative;
    display: inline-block;
    padding-left: rem-calc(7.5);
    padding-right: rem-calc(7.5);
    margin-bottom: rem-calc(10);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      width: rem-calc(1);
      height: rem-calc(8);
      background-color: #fff;
      transform: translateX(-50%) translateY(-50%);
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
  &__link {
    font-size: rem-calc(10);
    color: #fff;
    text-transform: uppercase;
    &:hover { color: color(orange); }
  }
}
