/* =====================
   12. Footer
   ===================== */

footer {
  position: relative;
  padding-top: rem-calc(47);
  padding-bottom: rem-calc(70);
  text-align: center;
  color: #fff;
  background: color(plum) url("{{ 'orange-flourish-lg.png' | asset_url }}") no-repeat percentage(925 / 1440) 0%;
  background-size: rem-calc(276) rem-calc(114);
  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("{{ 'orange-flourish-sm.png' | asset_url }}") no-repeat bottom center;
    background-size: rem-calc(137) rem-calc(50.5);
    z-index: 0;
  }
}

.footer-search-form {
  position: relative;
  display: inline-block;
  margin-bottom: rem-calc(40);
  width: 100%;
  max-width: rem-calc(514.5);
  font-size: 0;
  text-align: center;
  z-index: 10;
  &--index {
    max-width: rem-calc(744);
    margin-bottom: rem-calc(86);
    .footer-search-form__item--search {
      font-size: rem-calc(18);
      padding-top: rem-calc(37);
      padding-bottom: rem-calc(37);
      padding-left: rem-calc(37);
    }
    .footer-search-form__item--button {
      font-size: rem-calc(36);
      padding-top: rem-calc(30);
      padding-bottom: rem-calc(30);
    }
  }
  &__item {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    border: 0;
    outline: 0;
    &--search {
      font-size: rem-calc(12);
      color: color(light-gray);
      padding-top: rem-calc(25);
      padding-bottom: rem-calc(25);
      padding-left: rem-calc(25);
      width: percentage(622 / 744);
      margin-right: percentage(17 / 744);
    }
    &--button {
      width: percentage(105 / 744);
      padding-top: rem-calc(21);
      padding-bottom: rem-calc(21);
      text-align: center;
      font-size: rem-calc(24);
      background-color: color(orange);
      color: #fff;
    }
  }
}

.footer-nav {
  text-align: center;
  font-size: 0;
  margin-bottom: rem-calc(13);
  &__item {
    position: relative;
    display: inline-block;
    padding-left: rem-calc(7.5);
    padding-right: rem-calc(7.5);
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      width: rem-calc(1);
      height: rem-calc(8);
      background-color: #fff;
      transform: translateX(-50%) translateY(-50%);
    }
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      &:after {
        display: none;
      }
    }
  }
  &__link {
    font-size: rem-calc(10);
    color: #fff;
    text-transform: uppercase;
    &:hover { color: color(orange); }
  }
}
