.grid {
  font-size: 0;
  text-align: center;
  margin-bottom: 0;
  &--also {
    display: block;
    width: 100%;
    max-width: rem-calc(640);
    margin-left: auto;
    margin-right: auto;
    margin-top: rem-calc(50);
    text-align: left;
    margin-bottom: 0;
    padding-left: rem-calc(16);
    padding-right: rem-calc(16);
    @include respond-to(ipad-landscape) {
      max-width: rem-calc(880);
      padding-left: 0;
      padding-right: 0;
    }
  }
  &--search:first-of-type {
    margin-bottom: rem-calc(50);
  }
  &--store h1, &--toolkits h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: rem-calc(24);
    color: color(orange);
    text-align: center;
    margin-bottom: rem-calc(25);
  }
  &--store, &--collection {
    max-width: rem-calc(880);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
  &--collection {
    padding-top: rem-calc(100);
    padding-bottom: rem-calc(100);
  }
  &--toolkits {
    max-width: rem-calc(880);
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    margin-bottom: rem-calc(50);
    .product {
      width: 100%;
      @include respond-to(mobile) {
        width: 50%;
      }
      @include respond-to(ipad-portrait) {
        width: 33.33%;
      }
    }
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    padding: 1rem;
    a {
      display: block;
      font-size: rem-calc(14);
      text-align: left;
      @include respond-to(mobile) {

      }
    }
    &--quarter {
      width: 100%;
      @include respond-to(mobile) { width: 50%; }
      @include respond-to(ipad-portrait) { width: 33.33%; }
      @include respond-to(ipad-landscape) { width: 25%; }
    }
    &--third {
      width: 100%;
      @include respond-to(mobile) { width: 50%; }
      @include respond-to(ipad-portrait) { width: 33.33%; }
    }
    &--half {
      width: 100%;
      @include respond-to(mobile) { width: 50%; }
    }
    &--full {
      width: 100%;
    }
    &__info {
      &__title, &__learn-more {
        text-transform: uppercase;
        font-weight: 700;
        color: color(orange);
        margin-top: rem-calc(15);
      }
      &__title {
        margin-bottom: rem-calc(5);
      }
      &__price {
        font-weight: 700;
        font-size: rem-calc(12);
      }
    }
  }
}
