.header {
  min-height: rem-calc(211);
  padding-left: rem-calc(115);
  padding-right: rem-calc(115);
  border-bottom: rem-calc(30) solid color(plum);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__item {
    &--left {
      // width: percentage(404 / 2880);
      // min-width: rem-calc(404);
    }
    &--right {
      // width: percentage(1184 / 2880);
      // min-width: rem-calc(1184);
    }
  }
}

#site-title {
  display: block;
  @extend .section-margins;
  @extend .giga;
  color: $text-color;
  text-decoration: none;
}

#logo {
  display: block;
  font-family: $base-font-family;
  font-size: rem-calc(24);
  text-transform: lowercase;
  color: color(orange);
  img {
    display: inline-block;
    vertical-align: middle;
    width: rem-calc(76.5);
  }
}
