.media {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  @include background(white);
  &__list {
    width: 100%;
    max-width: rem-calc(500);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding: rem-calc(20) rem-calc(16);
    font-size: 0;
    text-align: left;
    @include respond-to(ipad-portrait) {
      max-width: rem-calc(680);
      padding: rem-calc(20) rem-calc(16);
    }
    h3 {
      font-size: rem-calc(22);
      text-transform: lowercase;
      color: color(orange);
      margin-bottom: 10px;
    }
  }
  &__item {
    display: inline-block;
    width: 100%;
    margin-bottom: rem-calc(30);
    vertical-align: middle;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
.article {
  display: block;
  width: 100%;
  margin: 0;
  font-size: 0;
  text-align: left;
  &__item {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    &--image {
      position: relative;
      margin-bottom: rem-calc(10);
      max-width: rem-calc(200);
      @include respond-to(ipad-portrait) {
        max-width: none;
        width: percentage(115 / 440);
        margin-right: percentage(25 / 440);
        margin-bottom: 0;
      }
    }
    &--text {
      font-size: rem-calc(14);
      color: color(orange);
      @include respond-to(ipad-portrait) {
        font-size: rem-calc(12);
        width: percentage(300 / 440);
      }
    }
  }
  &__image {
    position: relative;
    width: 100%;
    &-intrinsic {
      height: 0;
      padding-bottom: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
    }
  }
  &__title {
    text-transform: uppercase;
    margin-bottom: rem-calc(12);
  }
  &__content {
    color: #454545;
    font-weight: 400;
    margin-bottom: rem-calc(12);
  }
  &__link {
    display: block;
    width: rem-calc(50);
    height: rem-calc(50);
    background-color: color(plum);
    border-radius: 50%;
    text-align: center;
    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -0.15rem;
    }
    a {
      max-width: 93%;
      display: inline-block;
      vertical-align: middle;
      color: #fff;
      text-transform: uppercase;
      font-size: rem-calc(9);
      text-align: center;
      border: none;
      outline: none;
    }
  }
}
