/* Main navigation with drop-down menu support */
.nav-utility {
  font-size: 0;
  text-align: right;
  &__item {
    display: inline-block;
    vertical-align: top;
  }
}
.cart-link {
  position: relative;
  display: block;
  border: 1px solid color(dusk);
  width: 46px;
  height: 16px;
  background-image: url("{{ 'cart.svg' | asset_url }}");
  background-position: 10px 2px;
  background-size: 12px 10px;
  background-repeat: no-repeat;
  background-color: color(dusk);
  & > span {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    width: 15px;
    height: 14px;
    font-size: 8px;
    color: color(dusk);
    text-align: center;
    padding-top: 2px;
  }
  &__item {
    display: inline-block;
    vertical-align: top;
    &--icon {
      font-size: rem-calc(14.4);
      padding: rem-calc(3.25) rem-calc(8.5) rem-calc(3.25);
      background-color: color(dusk);
      color: #fff;
    }

  }
}

.nav {
  margin-top: rem-calc(10);
  &__menu {
    margin: 0;
  }
  &__item {
    display: inline-block;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: rem-calc(12);
    padding-right: rem-calc(12);
    margin: 0;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
      &:after { display: none; }
    }
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      left: 100%;
      transform: translateX(-50%) translateY(-50%);
      width: 1px;
      height: 10px;
      background-color: color(dusk);
    }
  }
  &__link {
    font-size: 11.25px;
    text-transform: uppercase;
    color: color(dusk);
    letter-spacing: -0.01rem;
    &:hover { color: color(orange); }
  }
  &__sub-menu {
    display: none;
    margin: 0;
    position: absolute;
    min-width: 100%;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: color(dusk);
    text-align: center;
    z-index: 2;
  }
  &__sub-item {
    display: block;
    padding: rem-calc(9);
    border-bottom: rem-calc(1.5) solid #fff;
    &:last-child {
      border: none;
    }
  }
  &__sub-link {
    font-size: 10px;
    color: #fff;
    &:hover { color: color(orange); }
  }
}

/* CSS triangle at the top of drop-down menus. */

/* Border for the CSS triangle at the top of drop-down menus. */


/* Revealing drop-down menus on hover */
nav li:hover ul { display: block; }

/* Styling active links. */
nav li.active > a { color: $link-color; }
