.collection {
  &-title {
    display: block;
    margin-bottom: 0.3125rem;
    font-family: "Quicksand", Helvetica Neue, Helvetica, sans-serif;
    font-stretch: normal;
    text-rendering: optimizeLegibility;
    margin: 0;
    padding: 0;
    color: color(orange);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
  }
}
.product {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 100%;
  color: color(orange);
  &--general {
    padding: rem-calc(100) rem-calc(16);
  }
  &--Video, .product--general & {
    width: 100%;
    font-size: 0;
    text-align: left;
    @include respond-to(ipad-landscape) {
      padding: 0;
    }
  }
  &__inner {
    display: block;
    width: 100%;
    max-width: rem-calc(640);
    margin-left: auto;
    margin-right: auto;
    color: color(orange);
    text-decoration: none;
    font-size: 0;
    @include respond-to(ipad-landscape) {
      max-width: rem-calc(880);
    }
    &:hover { color: color(orange); }
  }
  .product__item {
    display: block;
    @include respond-to(ipad-landscape) {
      display: inline-block;
      vertical-align: middle;
    }
  }
  .product-instructions {
    margin-top: rem-calc(30);
  }
  &--free-video {
    .product-image__bg:after { content: "click to watch video"; }
    .product-button { display: none !important; }
    @include respond-to(ipad-landscape) {
      .product-image, .product-info {
        width: 50% !important;
        margin: 0 !important;
        padding: rem-calc(16) !important;
      }
    }
  }
}
