.product-detail {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  background: url("{{ 'purple-flourish-lg.png' | asset_url }}") no-repeat #fff;
  background-position: 0px -10px;
  background-size: percentage(277 / 1440) auto;
  color: color(orange);
  .product {
    width: 100%;
    //@extend .product--Kit;
  }
}
