/* ======================================
   11. Search form and search results
   ====================================== */

/* Override to globally-hosted search.css on the /search page */
.search {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  background: url("{{ 'purple-flourish-lg.png' | asset_url }}") no-repeat #fff;
  background-position: 0px -10px;
  background-size: percentage(600 / 1440) auto;
  @include respond-to(mobile-plus) {
    background-size: percentage(400 / 1440) auto;
  }
  @include respond-to(ipad-portrait) {
    background-size: percentage(277 / 1440) auto;
  }
}
.nav-search-form {
  margin-right: 17px;
  font-size: 0;
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 8px;
    border: 1px solid color(dusk);
    outline: none;
    line-height: 1;
    min-height: 16px;
    &--search {
      width: 96.5px;
      padding-left: 11.5px;
      padding-right: 1.5px;
      color: color(light-gray);
      max-height: 16px;
    }
    &--button {
      font-family: FontAwesome, Helvetica Neue, Helvetica, sans-serif;
      background-color: color(dusk);
      background-image: url("{{ 'search.svg' | asset_url }}");
      background-size: 8px 8px;
      background-position: center center;
      background-repeat: no-repeat;
      text-decoration: none;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      width: 16px;
      max-height: 16px;
      color: #fff;
    }
  }
}
// /* Hiding search form in header on small screens */
// @media (max-width: $breakpoint-small-screen) {
//   header .search-form {
//     display: none;
//   }
// }
