/* ======================================
   11. Search form and search results
   ====================================== */

/* Override to globally-hosted search.css on the /search page */
.search {
  padding: rem-calc(100) rem-calc(16);
  text-align: center;
  @include background(white);
}
.nav-search-form {
  margin-right: 17px;
  font-size: 0;
  &__item {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    border: 1px solid color(dusk);
    outline: none;
    line-height: 1;
    min-height: 25px;
    &--search {
      width: 150px;
      padding-top: 3px;
      padding-left: 11.5px;
      padding-right: 1.5px;
      color: #454545;
      max-height: 25px;
    }
    &--button {
      font-family: FontAwesome, Helvetica Neue, Helvetica, sans-serif;
      background-color: color(dusk);
      background-image: url("{{ 'search.svg' | asset_url }}");
      background-size: 8px 8px;
      background-position: center center;
      background-repeat: no-repeat;
      text-decoration: none;
      text-transform: uppercase;
      text-rendering: optimizeLegibility;
      width: 25px;
      max-height: 25px;
      color: #fff;
    }
  }
  ::-webkit-input-placeholder { color: #454545; }
  ::-moz-placeholder          { color: #454545; }
  :-ms-input-placeholder      { color: #454545; }
  :-moz-placeholder           { color: #454545; }
}
